/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*start of common rules*/

.hidden {
    display: none;
}

.active {
    background-color: black;
    color: white;
}

h1, h2 {
    text-align: center;
}

.navigation p, .btnStart, .carte, .nb, .op, .eg, .retour, .virg{
    cursor: pointer;
}

/*Enc of common rules*/

/*START OF HEADER*/

/*END OF HEADER*/

/*START OF ASIDE*/

.navigation {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

.navigation p {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

.navigation p:hover {
    background-color: #333;
    color: white;
}

/*END OF ASIDE*/

/*START OF SECTION*/


/*~~~~~~~~~~ SLIDER ~~~~~~~~~~*/
.slider {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    position: relative;
}

.slider figure {
    margin: 0;
    height: 100%;
}

.slider img {
    width: 100%;
    border: 5px solid black;
}

.bouton {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border: 5px solid black;
}

.bouton p {
    padding: 10px;
    margin: 0;
    border: 5px solid grey;
    color: black;
    background-color: white;
}


/*~~~~~~~~~~ JEU DES PAIRES ~~~~~~~~~~*/

#startJDP, .jdp, #endJdp {
    display: flex;
    height: 95vh;
    border: 2px solid black;
}

#startJDP, #endJdp {
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

#startJDP p, #endJdp p {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

#endJdp {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: -5;
    transition: 2s;
}

.jdp {
    justify-content: space-around;
    flex-wrap: wrap;
}

.carte {
    width: 13%;
    height: 35%;
    margin: auto;
    background: linear-gradient(50deg, black 15%, lightgrey, black 85%);
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.choix {
    transition : opacity 1s, width .5s, height .5s, border-radius .5s;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 100%;
    cursor: not-allowed;
}

.score {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.score p {
    margin: 0;
}

.rouge {
    background: linear-gradient(-50deg, red, #FFAAAA, red)
}

.vert {
    background: linear-gradient(-50deg, green, #AAFFAA, green)
}

.bleu {
    background: linear-gradient(-50deg, blue, #AAAAFF, blue)
}

.jaune {
    background: linear-gradient(-50deg, yellow, #FFFFAA, yellow)
}

.orange {
    background: linear-gradient(-50deg, orange, #FFCDA0, orange)
}

.violet {
    background: linear-gradient(-50deg, violet, #C300FF, violet)
}

.pink {
    background: linear-gradient(-50deg, pink, #F5DEC3, pink)
}


/*~~~~~~~~~~ CALCULATRICE ~~~~~~~~~~*/

#mainCalc article {
    width: 100vw;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    font-weight: bold;
}

.affichage, .operateur {
    border: 2px solid black;
}

.affichage {
    justify-content: space-between;
    background-color: black;
    border: 2px solid white;
    border-radius: 8px 8px 0 0;
}

.affichage p {
    color: white;
    padding: 5px;
    margin: 0 5px;
    height: 35px;
}

.operation {
}

.affichage .retour {
    text-align: center;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    margin-right: 0;
    border-radius: 10%;
}

.resultat {
    text-align: right;
}

.operateur {
    justify-content: space-around;
    background-color: darkgrey;
    border-radius: 0 0 8px 8px;
}

.operateur p {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    transition: background 1s;
}

.nb, .virg {
    background: linear-gradient(grey, white 60%, grey);
    color: black;
}

.op, .retour {
    background: linear-gradient(black, red 60%, black);
    color: white;
}

.eg {
    background: linear-gradient(black, green 60%, black);
    color: white;
}

/*.nb:hover {
    background: linear-gradient(white 10%, grey 60%, white 90%);
}

.op:hover {
    background: linear-gradient(#AA0000 10%, black 60%, #AA0000 90%);
}

.eg:hover {
    background: linear-gradient(green 10%, black 60%, green 10%);
}*/


/*END OF SECTION*/

/*START OF FOOTER*/

/*END OF FOOTER*/


/*~~~~~ START OF TABLETTE ~~~~~*/
@media (min-width: 768px) {
    /*start of common rules*/

    /*Enc of common rules*/

    /*START OF HEADER*/

    /*END OF HEADER*/

    /*START OF SECTION*/

    /*~~~~~~~~~~ CALCULATRICE ~~~~~~~~~~*/

    #mainCalc article {
        width: 50vw;
    }

    /*END OF SECTION*/

    /*START OF FOOTER*/

    /*END OF FOOTER*/
}

/*~~~~~ START OF DESK ~~~~~*/
@media (min-width: 1024px) {
    /*start of common rules*/

    /*Enc of common rules*/

    /*START OF HEADER*/

    /*END OF HEADER*/

    /*START OF SECTION*/

    /* ~~~~~~~~~~ slider ~~~~~~~~~~ */

    .slider {
        width: 80vw;
    }

    /*~~~~~~~~~~ CALCULATRICE ~~~~~~~~~~*/

    #mainCalc article {
        width: 35vw;
    }

    /*END OF SECTION*/

    /*START OF FOOTER*/

    /*END OF FOOTER*/
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
